# pixi environments
.pixi/*
!.pixi/config.toml

# ROS2 workspace
build/
install/
log/

# Genesis
models/
logs/


# Python
__pycache__/
*.py[cod]
*$py.class

# AI Model Files
QWEN.md
GEMINI.md
CLAUDE.md

# AI assistant directories
.qwen/
.gemini/
.claude/
